.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.button-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 80%; 
  max-width: 800px;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1.25rem;
  background-color:#FFA07A;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.home-button:hover {
  background-color:#CD5C5C;
  transform: scale(1.05);
}